<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
 <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
 <body>
   <header class="main-header">
		 <nav class="main-nav">
			 <div class="container">
				 <ul>
				  	<li><h1>Hudson App</h1></li>
					  <ul class="nav-links">	
						  <li><a href="">home</a></li>
						  <li><a href="">signup</a></li>
						  <li><a href="">login</a></li>
						  <li><a href="">logout</a></li>
					  </ul>
				 </ul>
			 </div>
		 </nav>
	</header>
	<div class="input-header">
		<div class="left-content">
			<div class="styled-select slate " >
  			<select class="styled-select slate">
    			<option>Here is the first option</option>
   			  <option>The second option</option>
    			<option>The third option</option>
  			</select>
			</div>
		</div>
		<div class="right-content">
		<input type="text" id="autocomplete">
		</div>
	</div>
 	<div class="wrapper">
    <div id="bus-name">
  	  <h2>Places</h2>
  	  <hr>
  	  <ul>
  		  <li></li>
  		   <li class="lat"></li>
  		  <li class="lng"></li>
  	  </ul>
   </div>
 	<div id="map"></div>
  <div class="photos"></div>
	</div>
	<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous">
	  </script>
	 <script type="text/javascript" src="js/app.js"></script>

  </body>
 </html>
