* {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #2C3E50;
}
#page-wrapper {
  height: 100%;
}
.container, .wrapper {
  margin: auto;
  width: 90%;
}
.main-header {
  background: #fff;
  padding: 10px 30px 10px 40px;
  height: 45px;
  border-bottom: 1px solid #eee;
  color: #34495e;
}
.container ul {
  margin-top: 0;
  padding-top: 0;
}
.main-nav ul {
  padding-top: 0;
  list-style: none;
  margin-bottom: 10px;
}
.main-nav li  {
  display: inline;
}
.main-nav h1 {
  margin-top:  0px;
  display: inline-block;
}
.main-nav .nav-links {
  float: right;
}
.main-nav .nav-links  a {
  padding: 5px 0px 0px 20px;
  text-decoration: none;
  color: #34495e;
}
.wrapper {
  height: 100%;
}
.input-header {    
  margin: -1px 0px 10px;
  height: 60px;
  background: #00897B;
}
input[type="text"] {
  margin-top: 8px;
  width: 92%;
  padding-left: 10px;
  height: 35px;
}
#bus-name , .main-contain {
  margin-top: 10px;
  height: 75%;
}
.main-contain{
   width: 72%;
   margin-left: 30px;
   float: left;
   position: relative;
}
#map {
 height: 100%;
 width: 100%;
}
#bus-name {
  list-style: none;
  width: 20%;
  float: left;
  color: #95a5a6;
  background:  #424242;
  z-index: 9999;
  margin-right: 45px;
  overflow: scroll;
}
.left-content,  .right-content{
  margin-top: 5px;
  display: block;
  margin-bottom: 20px;
}
.left-content {
  padding: 12px 0px 0px 70px;
  width: 25%;
  float: left;
}
div.right-content {
  width: 70%;
  float: left;
  height: 55px;
  margin-left: 48px;
}
.place-name p {
  margin: 0;
  padding: 0;
  margin-left: -15px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 30px;
  width: 268px;
}
#bus-name ul {
  margin: auto;
  list-style: none;
  padding-bottom: 8px;
} 
#bus-name h2 {
  text-align: center;
  color: white;
}
hr {
  border: 1px solid #E0E0E0;
  width: 100%;
}
.lat, .lng , .place-id, .photo-id{
  display: none;
}

.photos {
 position: absolute;
 top: 0;
 left: 0;
z-index: 99999999;
}
footer {
  position: absolute;
  height: 5%;
  width: 100%;
  bottom:  0;
  background: #667272;
 
}